pip install requests
pip install opencv-python
pip install flask
pip install gevent
pip install requests
pip install keras
pip install tensorflow
pip install -U scikit-learn
pip install numpy
pip install matplotlib
pip install imutils
pip install Pillow
